@charset "utf-8";
/* CSS Document */

body
{
	background-image: url("/sampleimg/river_background.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:aquamarine;
}

DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}

span.th
{
	dispay: table-cell;
	font-weight: bold;
}


.heading
{
	background-color: rgba(63,63,63,0.75)
}

.white
{
	background-color: rgba(255,255,255,0.6);
}

.sidebar-item
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #000000;
	text-align: center;
}

.admin-link
{
	color: darkred;
	font-weight: bold;
}

.sidebar-item:hover
{
	background-color: rgba(255,255,255,1);
}

.error-message
{
	color: red;
}

.footer
{
	background-color: #3F3F3F;
}